#!/usr/bin/make -f

###
### Configuration, decide what to build
###

# Some variables:
DEB_HOST_ARCH     ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_ARCH_OS  ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
DEB_HOST_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)

confflags = \
	--enable-libkms \
	$()

# Linux vs. the rest:
ifeq (linux, $(DEB_HOST_ARCH_OS))
	confflags += --enable-udev
else
	confflags += --disable-udev
endif

# Disable platform drivers
confflags += \
	--disable-radeon \
	--disable-amdgpu \
	--disable-vmwgfx \
	--disable-nouveau \
	--disable-intel \
	--disable-exynos \
	--disable-omap \
	--disable-etnaviv \
	--disable-tegra \
	--disable-freedreno

###
### Actual build
###

override_dh_auto_configure:
	dh_auto_configure -- $(confflags)

override_dh_auto_test:

override_dh_install:
	find debian/tmp -name '*.la' -delete
	dh_install --fail-missing

override_dh_makeshlibs:
	dh_makeshlibs -plibdrm2 -V'libdrm2 (>= 2.4.89)' --add-udeb=libdrm2-udeb -- -c4
	dh_makeshlibs -plibkms1 -V'libkms1 (>= 2.4.89)' -- -c4

%:
	dh $@ --with quilt --builddirectory=build/
